.info {
  height: 100vh;
  overflow: auto;
  background: rgb(241, 241, 241);
  background: linear-gradient(156deg, rgb(241, 241, 241)0%, rgb(244, 245, 244)23%);
  padding: 0 4rem;

  h1, h2 {
    font-family: 'Staatliches', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    font-weight: 500;
  }
}

.shadow {
  background-color: white;
  border-radius: 50%;
  box-shadow:
    0 -1.8px 2.2px rgba(25, 68, 8, 0.034),
    0 6.7px 5.3px rgba(25, 68, 8, 0.048),
    0 12.5px 10px rgba(25, 68, 8, 0.06),
    0 22.3px 17.9px rgba(25, 68, 8, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.header {
  margin: auto;
  height: 100vh;
  
  > div:first-child {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 7rem;
  }

  > div:last-child {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;    
    margin-left: auto;
  }
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.nav {
  margin: 2rem 4rem;
  display: flex;
  justify-content: space-between;

  a {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.9;
    color: #000;
    font-family: 'Staatliches', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-bottom: solid 2px;
    border-image: linear-gradient(90deg, black 0%, rgb(146,149,143) 80%) 1;
  }
}

.search { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.6rem 4rem;
  height: 100%;

  svg {
    font-size: 82px;
    color: rgb(153, 177, 153);
  }

  input {
    text-align: center;
  }

  label {
    left: 20%;
  }
}

.about {
  text-align: center;
  margin-bottom: 5rem;

  > div {
    width: 100%;
    padding: 4rem;
  }

  a {
    text-decoration: underline;
    color: blue;
  }
}

.me {
  position: relative;
  margin-bottom: 5rem;
}

.profile {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  left: -100px;
  top: 120px;

  img {
    border-radius: 50%;
  }
}
  
.ig {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 68%;
  top: 28%;
}
  
.twitter {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 46%;
}
  
.linkedin {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 8%;
  left: 50%;
}
  
.text-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  h1 {
    margin-top: 50px;
  }

  p {
    margin-top: 0;
    max-width: 60%;
  }
}

@media screen and (max-width: 1440px) {
  .info {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 867px) {
  .info {
    padding: 0 4rem;
    max-height: unset;
  }
}
  
@media screen and (max-width: 480px) {
  .info {
    padding: 1rem;
  }
}